body{
    background-color: whitesmoke;
  }
  
  header img {
    width: 50%;
    height: 50%;
  }
  
  header {
    background-color: #1A2E40;
  }
  
  .scroll{
    text-decoration: none;
    color: white;
    background-color: #1A2E40;
    padding: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 20%;
    box-shadow: 3px 3px 10px #333;
  }
  
  .header-display {
    grid-template-columns: 1fr 2fr;
  }
  
  .inserts {
    display: grid;
    height: max-content;
    grid-template-columns: 2fr 1fr 1fr;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 4rem;
  }
  
  .form-control {
    width: 75%;
  }
  
  .search-input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 100px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #06080D;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    margin-left: 5px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .search input {
    border-radius: 30px;
  }

.exit {
    margin-left: 10%;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #06080D;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }