.item {
    width: 500px;
    padding: 1rem;
    margin: 1em;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
}

.botaoPagina {
    background-color: #0098F2;
    border: 10px;
    margin: 5px;
    border: 1px solid #fff;
    width: 2rem;
}

.botaoPagina:hover{
    background-color: lightsteelblue;
}